@model BO.Evenement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>@Html.DisplayFor(model => model.Nom)</h3>
<hr />
<div class="row">
    <div class="col s12 m6">
        <img class="responsive-img" src="~/Content/Image/img_front.jpg">
    </div>
    <div class="descriptif col s12 m6">
        <p><i class="tiny material-icons teal-text">description</i>@Html.DisplayFor(model => model.Descriptif)</p>
        <p><i class="tiny material-icons teal-text">adjust</i>@Html.DisplayFor(model => model.Theme)</p>
        <p><i class="tiny material-icons teal-text">location_on</i>@Html.DisplayFor(model => model.Lieu)</p>
        <p><i class="tiny material-icons teal-text">date_range</i>@Html.DisplayFor(model => model.DateHeure)</p>
        <p><i class="tiny material-icons teal-text">timer</i>@Html.DisplayFor(model => model.Duree)</p>
    </div>
</div>


<div class="actions">
@if (User.IsInRole("Administrateur"))
{
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Voir la liste des évènements", "Index") |
    </p>
}
else
{
    @Html.ActionLink("Voir la liste des évènements", "Index") 
}
</div>
<!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger pulse" href="#modal">Voir les parkings</a>

<!-- Modal Structure -->
    <div id="modal" class="modal bottom-sheet">
        <div class="modal-content">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Parking</h4></li>
                <li class="collection-item avatar">
                    <img src="~/Content/Image/parking.jpg" alt="parking" class="circle">
                    <span class="title">Parking 1</span>
                    <p>
                        Nombre de places totales : 711 <br>
                        Nombre de places totales : 135 <br />
                        Coût horaire : 0.40€ / heure <br/>
                        Coût estimé : 4.20€
                    </p>
                    <a class="waves-effect waves-light btn modal-trigger secondary-content teal darken-4" href="#modal1"><i class="material-icons">add</i></a>
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <p>Rentrez votre adresse afin de vous fournir l'itinéraire jusqu'au parking</p>
                            <form action="#" method="post">
                                <div class="input-field">
                                    <input type="text" id="adresse_client" name="adresseDepart" placeholder="Chez Wam"/>
                                    <label for="adresse_client">Adresse de départ</label>
                                </div>
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Submit
                                    <i class="material-icons right">send</i>
                                </button>      
                            </form>
                        </div>
                     </div>
                    @*<a href="#!" class="secondary-content"><i class="material-icons">add</i></a>*@
                <li class="collection-item avatar">
                    <img src="~/Content/Image/parking.jpg" alt="parking" class="circle">
                    <span class="title">Parking 2</span>
                    <p>
                        Nombre de places totales : 1035<br>
                        Nombre de places totales : 568<br />
                        Coût horaire : 0.75€ / heure <br/>
                        Coût estimé: 5.60€
                    </p>
                    <a class="waves-effect waves-light btn modal-trigger secondary-content teal darken-4" href="#modal2"><i class="material-icons">add</i></a>
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <p>Rentrez votre adresse afin de vous fournir l'itinéraire jusqu'au parking</p>
                            <form action="#" method="post">
                                <div class="input-field">
                                    <input type="text" id="adresse_client" name="adresseDepart" placeholder="Chez Wam" />
                                    <label for="adresse_client">Adresse de départ</label>
                                </div>
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </form>
                        </div>
                    </div>
                <li class="collection-item avatar">
                    <img src="~/Content/Image/parking.jpg" alt="parking" class="circle">
                    <span class="title">Parking 3</span>
                    <p>
                        Nombre de places totales : 152 <br>
                        Nombre de places totales : 52 <br />
                        Coût horaire : 0.45€ / heure <br/>
                        Coût estimé : 4.80€
                    </p>
                    <a class="waves-effect waves-light btn modal-trigger secondary-content teal darken-4" href="#modal3"><i class="material-icons">add</i></a>
                    <div id="modal3" class="modal">
                        <div class="modal-content">
                            <p>Rentrez votre adresse afin de vous fournir l'itinéraire jusqu'au parking</p>
                            <form action="#" method="post">
                                <div class="input-field">
                                    <input type="text" id="adresse_client" name="adresseDepart" placeholder="Chez Wam" />
                                    <label for="adresse_client">Adresse de départ</label>
                                </div>
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </form>
                        </div>
                    </div>
            </ul>
        </div>
    </div>

