@model BO.Evenement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>@Html.DisplayFor(model => model.Nom)</h3>
    <hr />
<div class="row">
    <div class="col s12 m6">
        <img class="responsive-img" src="~/Content/Image/img_front.jpg">
    </div>
    <div class="descriptif col s12 m6">
        <p><i class="tiny material-icons teal-text">description</i>@Html.DisplayFor(model => model.Descriptif)</p>
        <p><i class="tiny material-icons teal-text">adjust</i>@Html.DisplayFor(model => model.Theme)</p>
        <p><i class="tiny material-icons teal-text">location_on</i>@Html.DisplayFor(model => model.Lieu)</p>
        <p><i class="tiny material-icons teal-text">date_range</i>@Html.DisplayFor(model => model.DateHeure)</p>
        <p><i class="tiny material-icons teal-text">timer</i>@Html.DisplayFor(model => model.Duree)</p>
    </div>
</div>


<div class="actions">
    <p>
       @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
       @Html.ActionLink("Voir la liste des évènements", "Index") |
       @Html.ActionLink("Voir les parkings à proximité", "Index")
    </p>
</div>