@model IEnumerable<BO.Evenement>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des évènements</h2>

@if (User.IsInRole("Administrateur"))
{
    <p>
        @Html.ActionLink("Ajouter un évènement", "Create")
    </p>
}


<div class="row">

@foreach (var item in Model)
{
    <div class="col s12 m4">

        <div class="card">
            <div class="card-image">
                <img src="~/Content/Image/img_front.jpg">
                <span class="card-title">@Html.DisplayFor(modelItem => item.Nom)</span>
            </div>
            <div class="card-content">
                <p>@Html.DisplayFor(modelItem => item.Descriptif)</p>
                <div class="lieu">
                    <span><i class="material-icons">map</i>@Html.DisplayFor(modelItem => item.Lieu)</span></div>
                        <div class="heure"><span><i class="material-icons">access_time</i>@Html.DisplayFor(modelItem => item.DateHeure)</span></div>
                </div>
                <div class="card-action teal darken-3">
                    <ul>
                        
                        @if (User.IsInRole("Administrateur"))
                        {
                            <li class="col s12 m4">@Html.ActionLink("Plus d'infos", "Details", new { id = item.Id })</li>
                            <li class="col s12 m4">@Html.ActionLink("Modifier", "Edit", new { id = item.Id })</li> 
                            <li class="col s12 m4">@Html.ActionLink("Supprimer", "Delete", new { id = item.Id })</li>
                        }
                        else {
                            <li class="col s12">@Html.ActionLink("Plus d'infos", "Details", new { id = item.Id })</li> 
                        }
                  
                    </ul>
                </div>
            </div>

    </div>
    }
</div>
